.nav {
    font-family: 'Varela Round', sans-serif;
}
#nome {
    font-family: 'Varela Round', sans-serif;
}
.icon{
    height: 30px;
}
#table1{
    width:60%;
    margin:0 auto;
}
.txtb{
    font-family: arial;
    font-size: 17px;
    border: double;
    text-align: center
}
.star{
    height: 25px;
}